* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
.texto-animado {
  animation-name: texto-volador;
  animation-duration: 5s;
  animation-iteration-count: 1;
  border: solid;
}
/*Activar animacion con Keyframes*/
@keyframes texto-volador {
  from {
    margin-left: 100%;
    width: 300%;
    background-color: aqua;
    border: none;
  }
  to {
    margin-left: -100%;
    background-color: brown;
    color: white;
    border: none;
  }
}
/*Paso 01 nombrar animacion y su duracion*/
.imagen-animada {
  animation-name: image-resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 400px;
  height: 400px;
}
@keyframes image-resize {
  from {
    width: 20px;
    height: 20px;
  }
  to {
    width: 400px;
    height: 400px;
  }
}
