* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  width: 1024px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}
header {
  margin: 40px 170px;
  width: 1024px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua;*/
}
.nav {
  padding: auto;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  /*background-color: blueviolet;*/
}
.img__nav {
  margin-right: 450px;
  width: 70px;
  /*background-color: #eca023;*/
}
a {
  display: block;
  padding: 20px 30px;
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  background: #eca023;
  height: 50px;
}
.main__item {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 12px;
  list-style: none;
  overflow: hidden;
}
.main__content {
  margin-top: 120px;
  margin-left: 170px;
  display: flex;
  /* flex-wrap: wrap; */
  flex: 1;
  /* background-color: gray; */
  background-color: aqua;
}
.right__img {
  width: 590px;
  height: 250px;
}
.right__content {
  background-color: brown;
  display: flex;
  /* display: flex; */
}
.right__title {
 
 display: inline-block;
  
}
.right__title{
  font-size: 50px;
  /* flex: 1; */
  width: 50%;
  padding-bottom: 0px;
  background-color: pink;
}
.right__p {
  display: inline-block;
flex: 1;
  background-color: #eca023;
  width: 50%;
}
.section__left {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 30px;
  width: 380px;
  height: 520px;
  background-color: darkblue;
}
.title__article {
  padding: 20px 0px;
  color: orange;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
.article__title {
  padding: 20px 0px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.article_paragraph {
  color: white;
}
